<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the request is not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>